[submodule "NeoPixel"]
	path = NeoPixel
	url = git@github.com:opensourcegarden/NeoPixel.git
[submodule "SlaveWireTools"]
	path = SlaveWireTools
	url = git@github.com:opensourcegarden/SlaveWireTools.git
